
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Add New Service</h2>

<form method="post">
    <label>Service Title</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <button class="btn-info">Save </button>
</form>

