
@{
    Layout = null;
}

<h2>Giriş Sayfası</h2>
<hr />

<form method="post">
    <div class="container">
        <label>Your Email:</label>
        <input type="text" name="MemberEmail" class="form-control" />
        <br />
        <label>Your Password:</label>
        <input type="password" name="MemberPassword" class="form-control" />
        <br />
        <button class="btn-lg btn-warning"> Login</button>

    </div>
</form>