@model CRM.Entity.Layer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
}

<h1>Add Category</h1>

<form method="post">
    <label>Category Name</label>
    <input type="text" asp-for="CategoryName" class="form-control"/> <br />
    <label>Category Description</label>
    <input type="text" asp-for="CategoryName" class="form-control" /> <br />
    <button class="btn btn-info">Add </button>
</form>

